<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product_price.price) %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product_price.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @product_price.user.company %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_price.product.name %>
</p>

<%= link_to 'Edit', edit_product_price_path(@product_price) %> |
<%= link_to 'Back', product_prices_path %>
