<hr>
<p>
  <strong>Group Name:</strong>
  <%= group.name %>
</p>
<p>
  <strong>Group Cescription:</strong>
  <%= group.description %>
</p>
<p>
  <strong>Group Category:</strong>
  <%= group.category.name %>
</p>
<p>
  <% if group.image_file_name.present? %>
  <%= image_tag group.image.url, :size => :med %>
  <% end %>
</p>
<%= link_to 'Show', [group.category, group], :class => "btn btn-default"  %>
<%= link_to 'Edit', edit_category_group_path(group.category, group), :class => "btn btn-default"  %>
<%= link_to 'Destroy', [group.category, group], method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-default"  %>
