<div class="row">
<div class="col-md-12">

<% content_for :head do %>
  <%= render 'javascript' %>
<% end %>

<div class="form">
  <%= form_for(@order, :html => { :role => 'form', :class => 'payment-form'}) do |f| %>
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this group from being saved:</h2>

    <ul>
      <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<div class="col-md-5">
      <fieldset>
    <h4 class="text-left">Shipping Address</h4>
    <%= render 'ship_addr_form', :f => f %>
  </fieldset>
</div>

  <div class="col-md-5">
    <fieldset>
    <%= render 'payment_form', :f => f %>
    </fieldset>
  </div>

  </div>
 </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="actions">
      <%= f.submit "Submit Order", :class => "btn btn-default", 'data-disable-with' => "Please wait.." %>
      <% end %>
    </div>
    </div>


</div>
