<h4 class="text-left">Payment Information</h4>

<div id='stripe_error' class='alert alert-danger' style='display:none' ></div>

<% if @order.stripe_token %>
<p>Credit card acceptance is pending.</p>
<% else %>
<div class="form-group">
  <%= label_tag :card_number, "Credit Card Number" %>
  <%= text_field_tag :card_number, nil, name: nil, class: 'form-control', data: { stripe: 'number' } %>
</div>
<div class="form-group">
  <%= label_tag :card_code, "Card Security Code" %>
  <%= text_field_tag :card_code, nil, name: nil, class: 'form-control', data: { stripe: 'cvc' } %>
</div>
<br />
<div class="form-group">
  <%= label_tag :card_month, "Card Experation" %>
  <%= select_month nil, { use_two_digit_numbers: true}, { name: nil, data: {stripe: 'exp-month' } } %>
  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, { name: nil, data: {stripe: 'exp-year' } } %>
</div>
<% end %>
<br />
<%= f.hidden_field :stripe_token %>
