<h4 class="text-left">Payment Information</h4>

<div class="form-group">
  <%= f.label :card_number %>
  <%= f.text_field :card_number, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :card_code %>
  <%= f.text_field :card_code, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :card_month %>
  <%=f.select :card_month, options_for_select(card_months), class: 'form-control'%>
</div>
<div class="form-group">
  <%= f.label :card_year %>
  <%=f.select :card_year, options_for_select(card_years), class: 'form-control'%>
</div>
