<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%#= render @category.groups %>
<%= render 'group_table' %>

<p>
<%= link_to 'Groups', category_groups_path(@category) %>
<%= link_to 'Back', categories_path %>
</p>
