<div class="well">

  <div class="row">
    <div class="col-md-8">
      <h4><%= product.name %></small></h4>
      <p>
        <strong>Description:</strong>
        <%= product.description %>
      </p>
      <p>
        <% if product.image_file_name.present? %>
        <%= image_tag product.image.url, :size => :med  %>
        <% end %>
      </p>
    </div>

    <div class="col-md-5">
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-left">Unit Price: <span style="color: green">
        <% if user_signed_in? %>
        <%= number_to_currency(product.default_price)%>
            <% if product.count > 0 %>
              <div class="input-group">
                  <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, max: product.count %>
                <div class="input-group-btn">
                  <%= f.hidden_field :product_id, value: product.id %>
                  <%= f.submit "Add to Cart", class: "btn btn-default" %>
                </div>
              </div>
              <% else %>
              <span style="color: red">Currently out of stock.</span>
              <% end %>
        <% else %>
        <%= number_to_currency(product.default_price) %>
        <% end %>
      </span></h4>

      <% end %>
    </div>


  </div>
</div>
