<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %></small></h4>
      <p>
        <strong>Description:</strong>
        <%= product.description %>
      </p>
      <p>
        <% if product.image_file_name.present? %>
        <%= image_tag product.image.url, :size => :med  %>
        <% end %>
      </p>
    </div>

    <div class="col-xs-4">
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green">
        <% if user_signed_in? %>
        <%= number_to_currency(product.get_price(product,current_user))%>
        <% else %>

        <h4 class="text-right">Please **Contact Us** for Price<span>
        <% end %>
      </span></h4>
      <div class="input-group">
        <% if product.count > 0 %>
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit "Add to Cart", class: "btn btn-primary" %>
        </div>
        <% else %>
        <h4 class="text-right">Item is Currently Out of Stock<span>
        <% end %>
      </div>
      <% end %>
    </div>


  </div>
</div>
